.ph1 {
    background-color: #f00;
}
.ph2 {
    background-color: #0f0;
}
.ph3 {
    background-color: #00f;
}
.ph4 {
    background-color: #ff0;
}
.ph5 {
    background-color: #f0f;
}
.ph6 {
    background-color: #0ff;
}
.ph7 {
    background-color: #999;
}
